.spinner {
  height: 1rem;
  width: 1rem;
  animation: spin 1s linear infinite;
}

.spinner-bg {
  opacity: 0.25;
}

.spinner-fg {
  opacity: 0.75;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}