<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Welcome to our landing page, where we introduce our product/service">
    <title>Welcome to Our Service</title>
    <link rel="icon" href="images/favicon.ico">
</head>

<body>
  <div id="root"></div>


  <script>
    const doc = document.getElementById("root")

    if (doc){
      const nav = document.createElement('nav');
      const div = document.createElement('div');
      let right_div = document.createElement('div');
      const p = document.createElement('p');
      const ul = document.createElement('ul');
      const li = document.createElement('li');
      let item_items = ["first Item", "Second Item", "Third Item", "fouth Item"]

      right_div.style = "display: flex"

      item_items.map((i, index) => (
        ul.innerHTML += `<li>${i}</li>`
      ))

      ul.style = `
        display: flex;
        background: red;
        width: 100%;
      `

      right_div.appendChild(ul)

      div.textContent = `LOGO`

      nav.append(div)
      nav.append(right_div)
      doc.append(nav)
    }
    

  </script>

</body>
</html>